@import "settings";

@import "foundation";

.score, .comments, .post-rank, .bottom-section {
  font-family: $font-family-sans-serif;
}

body {
  background-color: $secondary-color;
}

.full {
  max-width: 100%;
}

.row.full {
  background-color: $primary-color;
}

.nav-bar {
  height: 40px;
  padding: 0 20px;

  a {
    color: white;
  }
}

.post {
  height: 150px;
  padding-bottom: 0;
}


.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.bottom-section {
  padding-top: 0;
  clear: both;
}

.post-rank {
  background-color: $iron;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: white;
  top: 40px;
  position: relative;
}

.votes {
  position: relative;
  top: 10px;
}

.score {
  padding-top: 2px;
  padding-bottom: 2px;
}

.thumb {
  padding: 10px;
  width: 150px;
}

.thumb-wrapper {
  width: 100%;
  margin: 0 auto;

}


.left-section {
  width: 120px;
  position: absolute;
}
.offset-pad {
  padding-left: 120px;
}

.thumb, .post-details {
  width: 50%;
  float: left;
}

// .post:not(:first-of-type) {
//   display: none;
// }
