<div class="row full">
  <div class="small-12">
    <div class="nav-bar">
      <ul class="inline-list right">
        <li>
          <a href="#">usernamedude</a>
        </li>
        <li>
          <a href="#">usernamedude</a>
        </li>
        <li>
          <a href="#">usernamedude</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 
<div class="row collapse">
  <div class="small-12 medium-10 clearfix column small-centered">
    <div class="post">

      <div class="first">
       <p class="post-rank vert-center">1</p> 
     </div>

     <div class="votes second">
       <div class="vert-center">
         <div class="upvote">up</div>
         <h3>6652</h3>
         <div class="downvote">down</div>
       </div>
     </div>

     <div class="thumb-section third">
      <img class="thumb vert-center" src="http://b.thumbs.redditmedia.com/fsVp5VN6PdS3EuBSEppiAay7M5_RuIjQzMu3DYH-MKA.jpg" alt="thumb">
    </div>

    <div class="post-details fourth">
      <div class="vert-center">
        <h4 class="post-title"><a href="#">I show my boyfriend ONE picture from my childhood and suddenly reproducing with me is off the table...</a></h4>

      </div>
    </div>
  </div>
</div>
</div>

<div class="row collapse">
  <div class="small-12 medium-10 clearfix column small-centered">
  <div class="third bottom-section empty">
      <p><a href="#">4000 comments</a></p>
    </div>
    <div class="fourth bottom-section">
      <div class="row collapse">
        <div class="small-3 columns">
          <a href="#">(google.com)</a>
        </div> 
        <div class="small-3 columns">
          <a href="">3hrs ago</a>
        </div> 
        <div class="small-3 columns">
          <a href="#">by username</a>
        </div> 
        <div class="small-3 columns">
          <a href="#">in r/funny</a>
        </div>              
      </div>
    </div>
  </div>
</div>
 -->


{{outlet}}
