<div class="row full primary">
  <div class="small-12 columns">
    <div class="nav__main">
      <ul class="inline-list right">
        <li>
          <a href="#">usernamedude</a>
        </li>
        <li>
          <a href="#">usernamedude</a>
        </li>
        <li>
          <a href="#">usernamedude</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row full white">
  <div class="small-10 medium-8 small-centered columns">
    <div class="nav__sub">
      <ul class="small-block-grid-6 text-centered">
        <li><a href="#">Toasty</a></li>
        <li><a href="#">Fresh</a></li>
        <li><a href="#">Cookin'</a></li>
        <li><a href="#">Moldy</a></li>
        <li><a href="#">Top</a></li>
        <li><a href="#">Muffins</a></li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
