<div class="row full">
  <div class="small-12">
    <div class="nav-bar">
      <ul class="inline-list right">
        <li>
          <a href="#">usernamedude</a>
        </li>
        <li>
          <a href="#">usernamedude</a>
        </li>
        <li>
          <a href="#">usernamedude</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
